<ion-view view-title="Math braining">
  <ion-content class="home">
    <div class="menu_container">
      <h2 class="title">Menu</h2>
      <div class="row">
        <div class="col">
          <a class="button button-block button-balanced pull-right" href="#/level/add">+</a>
        </div>
        <div class="col subtract">
          <a class="button button-block button-assertive pull-left" href="#/level/substract">-</a>
        </div>
      </div>
      <div class="row">
        <div class="col multiply">
          <a class="button button-block button-royal pull-right" href="#/level/multiply">x</a>
        </div>
        <div class="col divide">
          <a class="button button-block button-energized pull-left" href="#/level/divide">÷</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>