<ion-view view-title="Levels">
  <ion-nav-bar>
    <ion-nav-back-button ng-click="back()">Home</ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    <div class="menu_container">
      <ul class="list">
          <li class="item">
            <a href="#/practice/{{type}}/1">Practice</a>
          </li>
          <li class="item">
            <a href="#/kids/{{type}}/1">Kids 1</a>
          </li>
          <li class="item">
            <a href="#/kids/{{type}}/2">Kids 2</a>
          </li>
          <li class="item">
            <a href="#/teen/{{type}}/1">Teen 1</a>
          </li>
          <li class="item">
            <a href="#/teen/{{type}}/2">Teen 2</a>
          </li>
          <li class="item">
            <a href="#/pro/{{type}}/1">Professional 1</a>
          </li>
          <li class="item">
            <a href="#/pro/{{type}}/2">Professional 2</a>
          </li>
      </ul>
    </div>
  </ion-content>
</ion-view>